# Dependencies
node_modules
.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.swc/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

cypress/screenshots
cypress/downloads
cypress/videos
cypress/reports
cypress/fixtures/large-file.pdf